<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bestmates Eatery Restaurant</title>
</head>
<body>

<section id="hero-section">
  <h1>Indian Restaurant in Windsor</h1>

  <p>Bestmates Eatery, located in Windsor, Canada, is a delightful Indian restaurant offering an authentic taste of India. Known for its vibrant ambiance and friendly service, the eatery specializes in traditional dishes like butter chicken, biryani, and flavorful curries, made with fresh, high-quality ingredients. Whether you're craving spicy street food or comforting Indian desserts, Bestmates Eatery promises a satisfying culinary experience that brings the rich flavors of India to your plate.</p>
</section>

<section id="intro-section">
  <h1>Bestmates Eatery</h1>
  <h2>Best Indian Restaurant in Windsor</h2>

  <img src="#" alt="Restaurant Picture"/>
  <p>Bestmates Eatery, opened in 2024, is a cozy Indian restaurant in Windsor, Canada, specializing in authentic Indian snacks and street food. From crispy samosas and spicy chaat to flavorful pakoras and tangy pani puri, the eatery offers a delicious variety of small bites that capture the essence of India’s vibrant culinary culture. With a warm ambiance and friendly service, it’s the perfect spot to satisfy your cravings for Indian snacks.</p>
</section>
<section id="restaurant-specials">

  <h2>Restaurant Specials</h2>
  <p>Bestmates Eatery offers unique specialties like Butter Chicken Poutine. Their signature Naanzas replace pizza crust with soft naan bread, topped with Indian sauces, fresh veggies, and flavorful toppings, delivering a delicious fusion experience.</p>

  <div id="restaurant-specials-images">
    <img src="#" alt="restaurant-Special-image-1"/>
    <img src="#" alt="restaurant-Special-image-2"/>
  </div>

</section>
<section id="why-choose-us">
  <h2>why choose Bestmates Eatery</h2>
  <div id="why-choose-us-text">
    <article>
      <h3>Authenticity Guaranteed</h3>
      <p></p>
    </article>

    <article>
      <h3>Affordable Luxury</h3>
      <p></p>
    </article>

    <article>
      <h3>Exceptional Service</h3>
      <p></p>
    </article>

    <article>
      <h3>Ambiance and Atmosphere</h3>
      <p></p>
    </article>
  </div>
</section>
</body>
</html>
